{
     "branches": "main",
     "repositoryUrl": "https://github.com/CarloMicieli/trenako-web-api",
     "debug": "true",
     "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        [
            "@semantic-release/changelog",
            {
                "changelogFile": "CHANGELOG.md",
                "changelogTitle": "# Trenako Web Api Changelog"
            }
        ],
        [
            "@semantic-release/exec",
            {
                "prepareCmd": "./prepare-release.sh ${nextRelease.version}"
            }
        ],
        [
            "@semantic-release/git",
            {
                "assets": [
                    "CHANGELOG.md",
                    "./catalog/Cargo.toml",
                    "./collecting/Cargo.toml",
                    "./webapi/Cargo.toml"
                ]
            }
        ],
        [
            "@semantic-release/github",
            {
                "assets": [
                    {
                        "path": "release/**"
                    }
                ]
            }
        ],
        [
            "@eclass/semantic-release-docker",
            {
                "baseImageName": "trenako-web-api",
                "registries": [
                {
                    "url": "docker.io",
                    "imageName": "docker.io/carlomicieli/trenako-web-api",
                    "user": "DOCKERHUB_USERNAME",
                    "password": "DOCKERHUB_TOKEN"
                }
                ]
            }
        ]
    ]
}