{
    "branches": [
         {"name": "main"},
         {"name": "dev", "channel": "dev", "prerelease": "devel"}
    ],
    "repositoryUrl": "https://github.com/CarloMicieli/trenako-web-api",
    "debug": "true",
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        [
            "@semantic-release/changelog",
            {
                "changelogFile": "CHANGELOG.md",
                "changelogTitle": "# Trenako Web Api Changelog"
            }
        ],
        [
            "@semantic-release/exec",
            {
                "prepareCmd": "./prepare-release.sh ${nextRelease.version}"
            }
        ],
        [
            "@semantic-release/git",
            {
                "assets": [
                    "CHANGELOG.md",
                    "./workspace/catalog/Cargo.toml",
                    "./workspace/collecting/Cargo.toml",
                    "./workspace/social/Cargo.toml",
                    "./workspace/webapi/Cargo.toml"
                ]
            }
        ],
        [
            "@semantic-release/github",
            {
                "assets": [
                    {
                        "path": "release/**"
                    }
                ]
            }
        ],
        [
            "@codedependant/semantic-release-docker", 
            {
                "dockerTags": [
                    "latest", 
                    "{version}", 
                    "{git_sha}"
                ],
                "dockerImage": "trenako-web-api",
                "dockerFile": ".docker/webapi.dockerfile",
                "dockerRegistry": "dockerhub",
                "dockerProject": "carlomicieli",
                "dockerLogin": true,
                "dockerArgs": {
                    API_TOKEN: true,
                    RELEASE_VERSION: "{next.version}"
                }
            }
        ]
    ]
}